*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    overflow:hidden;

    background:#0f172a;

    font-family:'Poppins',sans-serif;

    height:100vh;

}

#fondo{

    position:fixed;

    top:0;

    left:0;

    width:100%;

    height:100%;

    z-index:-1;

}

.contenedor{

    position:absolute;

    top:50%;

    left:50%;

    transform:translate(-50%,-50%);

    display:flex;

    flex-direction:column;

    align-items:center;

    text-align:center;

    width:90%;

}

h1{

    color:white;

    font-size:3.5rem;

    font-weight:700;

    text-shadow:0px 0px 20px rgba(255,255,255,.4);

}

p{

    margin-top:20px;

    color:white;

    font-size:2.2rem;

}

.botones{

    margin-top:60px;

    display:flex;

    gap:60px;

}

button{

    width:170px;

    height:80px;

    border:none;

    border-radius:20px;

    font-size:30px;

    font-family:'Poppins',sans-serif;

    cursor:pointer;

    transition:.25s;

    box-shadow:0 10px 30px rgba(0,0,0,.25);

}

#si{

    background:#3ecf8e;

    color:white;

}

#si:hover{

    transform:scale(1.08);

}

#no{

    background:#ff5d73;

    color:white;

    position:absolute;

}

.oculto{

    display:none;

}
