*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
 
body{

    overflow:hidden;
    font-family:'Poppins',sans-serif;
    background:linear-gradient(135deg,#ffd9e8,#fff0f6);
    height:100vh;

}

#canvas{

    position:fixed;
    inset:0;
    width:100%;
    height:100%;
    z-index:0;

}

.contenido{

    position:absolute;

    top:50%;
    left:50%;

    transform:translate(-50%,-50%);

    display:flex;
    flex-direction:column;
    align-items:center;

    z-index:2;

    width:90%;

}

h1{

    color:#d63384;

    font-size:3.7rem;

    text-align:center;

    text-shadow:0 0 10px rgba(255,255,255,.6);

}

p{

    font-size:2.3rem;

    color:#d63384;

    margin-top:20px;

}

.botones{

    display:flex;

    gap:60px;

    margin-top:60px;

    position:relative;

}

button{

    width:170px;

    height:75px;

    border:none;

    border-radius:18px;

    cursor:pointer;

    font-size:28px;

    font-family:Poppins,sans-serif;

    transition:.2s;

}

#si{

    background:#57cc99;

    color:white;

}

#si:hover{

    transform:scale(1.08);

}

#no{

    background:#ff5c8a;

    color:white;

}

.oculto{

    display:none;

}
